<h2>Add a New Show</h2>
                                  
<form action="/shows" method="POST">
   <p>Show title:
      <input type="text" name="title" placeholder="Show title" /></p>
   <p>Year:
      <input type="text" name="year" placeholder="2013" /></p>
   <p>Composer:
      <input type="text" name="composer" placeholder="Composer name" /></p>
   <p>Image url:
      <input type="text" name="img_url" placeholder="http://" /></p>
      <button>Add Show</button>
</form>